

.AboutMeContainer{
    position: relative;
    top: 20%;
}

.AboutMeContainer ul li{
    list-style: none;
    font-size: 1.5rem;
    color: white;
    margin-bottom: 2%;
    margin-inline: 2rem;
    text-align: left;
}

.AboutMeContainer h2{
    color: #e91e63;
    font-size: 2.5rem;
}

.aboutMe-list-container{
    display: flex;
    justify-content: center;
  }

  .aboutMe-list-container a{
    position: relative;
    z-index: 1; /* Above the particles */
    pointer-events: none;
}

  .aboutMe-list-container a {
    pointer-events: auto;
  }

  @media (max-width: 768px) {
    .AboutMeContainer {
      top: 25%;
      display: block;
        padding: 10px;
    }
    .AboutMeContainer ul li{
        list-style: none;
        font-size: 1rem;
        color: white;
        margin-bottom: 1%;
        margin-inline: 1rem;
        text-align: left;
    }
  }

@media (max-height: 905px) {
    .AboutMeContainer{
        top: 30%;
    }
}



@media (max-height: 800px) {
    .AboutMeContainer{
        top: 35%;
    }
}

@media (max-height: 700px) {
    .AboutMeContainer{
        top: 45%;
    }
}

@media (max-height: 600px) {
    .AboutMeContainer{
        top: 60%;
    }
}

@media (max-height: 500px) {
    .AboutMeContainer{
        top: 79%;
    }
}

@media (max-height: 400px) {
    .AboutMeContainer{
        top: 95%;
    }
}

@media (max-height: 300px) {
    .AboutMeContainer{
        top: 100%;
    }
}
