

.AboutMeContainer{
    position: relative;
    top: 20%;
}

.AboutMeContainer ul li{
    list-style: none;
    font-size: 1.5rem;
    color: white;
    margin-bottom: 2%;
    margin-inline: 2rem;
    text-align: left;
}

.AboutMeContainer h2{
    color: #e91e63;
    font-size: 2.5rem;
}

.aboutMe-list-container{
    display: flex;
    justify-content: center;
  }


@media (max-height: 905px) {
    .AboutMeContainer{
        top: 30%;
    }
}



@media (max-height: 800px) {
    .AboutMeContainer{
        top: 35%;
    }
}

@media (max-height: 700px) {
    .AboutMeContainer{
        top: 45%;
    }
}

@media (max-height: 600px) {
    .AboutMeContainer{
        top: 60%;
    }
}

@media (max-height: 500px) {
    .AboutMeContainer{
        top: 79%;
    }
}

@media (max-height: 400px) {
    .AboutMeContainer{
        top: 95%;
    }
}

@media (max-height: 300px) {
    .AboutMeContainer{
        top: 100%;
    }
}
