@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

.fade-enter {
  opacity: 0;
  transform: scale(0.95);
}

.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 300ms, transform 300ms;
}


#background {
  position: relative; /* set to relative */
  width: 100%;
  height: 100%;
  z-index: 0; /* Behind the text */
}

#background canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* ensure the canvas is behind everything else */
}


.container {
  width: 100%;
  height: 100vh; /* fill the height of the viewport */
  display: flex;
  flex-direction: column; /* stack children vertically */
  justify-content: center; /* center vertically */
  align-items: center; /* center horizontally */
  text-align: center; /* ensure text is centered within its container */
  position: relative; /* establish a positioning context */
  z-index: 1;
  pointer-events: none; /* allow click through */
}

p {
  color: #fff;
}




.links-content {
  top: 10%;
  display: flex;
  justify-content: center; /* center the link columns horizontally */
}

.header-content, .links-content, .footer {
  pointer-events: auto; /* re-enable pointer events for clickable items */
}

.header-content {
  /* space to bottom*/
  margin-bottom: 3rem;
  top: 0;
  position: absolute;
  z-index: 1;
} 

.links-content {
  position: relative;
  justify-content: center; /* center the link columns horizontally */
}
/* Container that holds the text */
.row, .column .row.mb, .meColumn{
  position: relative;
  z-index: 1; /* Above the particles */
 /* pointer-events: none;  This allows mouse events to pass through */
 pointer-events: none;
}
/* Re-enable pointer-events for interactive elements */
.container .row a, .column .row.mb a, .meColumn a{
  pointer-events: auto;
}

.logo, .header {
  z-index: 1; /* Above the particles */
}

.header:hover{
  color: #bb2c5c;
  cursor: pointer;
  text-shadow: 0 0 4px #000;
}
/* Centering the logo and header */
.logo, .header, .row.mb, .links-list {
  text-align: center; /* Center the text */
  pointer-events: auto; /* Allow clicks */
}


body{
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
    background: #2a2b32;
}

a{
    color: #ccc;
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    color: #e91e63;
    cursor: pointer;
}

h1.header{
    color: #e91e63;
    font-size: 2.5rem;
    font-weight: bold;
}


h2.header{
    color: #e91e63;
    font-size: 1.5rem;
    font-weight: bold;
}

h2{
    color: #616161;
    font-size: 2.5rem;
    font-weight: bold;
}

canvas{
    height: 100vh;
    z-index: -100000;
    position: fixed;
    top: 0px;
}

.mb{
    margin-bottom: 3rem;
}

.logo{
    font-family: 'Monoton', cursive;
    color:#e91e63;
    font-size: 10rem;
}

.logo:hover{
    color: #bb2c5c;
    cursor: pointer;
    text-shadow: 0 0 4px #000;
}

.links-column ul li{
    text-align:  center;


    list-style: none;
    margin-right: 2rem;
    font-size: 1.8rem;
    margin-bottom: 0;
}

.links-column h1{

    color: #fff;
    font-size: 2.5rem;
}

.links-column ul li span{
    background-color: #e91e63;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 3px 6px;
    font-weight: bold;
    margin-left: 0.5rem;
    color: #fff;
}

.footer{
    margin-top: 6rem;
}

.footer p{
    color: #fff;
    font-size: 1rem;
}

@media (max-width: 768px) {
  .links-content {
    top: 20%;
    display: block;
    padding: 10px;
  }
}


@media (max-height: 901px){
    .links-content{
      top: 30%;
    }
}

@media (max-height: 780px){
    .links-content{
      top: 40%;
    }
    
}

@media (max-height: 734px){
    .links-content{
      top: 50%;
    }
}

@media (max-height: 676px){
    .links-content{
      top: 60%;
    }
}

@media (max-height: 621px){
    .links-content{
      top: 70%;
    }
}

@media (max-height: 568px){
    .links-content{
      top: 80%;
    }
}

@media (max-height: 511px){
    .links-content{
      top: 90%;
    }
}

@media (max-height: 459px){
    .links-content{
      top: 110%;
    }
}