.wrapper{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background-color: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30 px rgba (35, 35, 35, 0.1);
    color: #232323;
    backdrop-filter: blur(4px);

    background: rgba(255, 255, 255, 0.5);

    flex-basis: 400px;
    height: 540px;
    width: 500px;
    padding: 20px 35px;

    position: relative;


    top: 20%;
}   

.screen{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    font-size: 35px;
    overflow: auto;
    padding: 20px;
    text-align: right;
    width: 100%;
}

.calculator-header{
    position: relative;
    top: 20%;
}



.calculator-modal-content{
    /* middle of screen */
    position: fixed;
    top: 30%;
    left: 40%;
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 20%; 
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
}

.calculator-header h1{
    color: #e91e63;
}
.calculator-header h1:hover{
    color: #bb2c5c;
    cursor: pointer;
    text-shadow: 0 0 4px #000;
}

.calculator-modal-content h2{
    color: #e91e63;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.calculator-modal-content p{
    color: #06283D;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.calc-button-row{
display: flex;
justify-content: space-between ;
margin: 5% 0;
}

.calc-button{
    backdrop-filter: blur(5.5px);
-webkit-backdrop-filter: blur(5.5px);
background: rgba(255, 255, 255, 0.75);
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
color: #232323;
flex-basis: 20%;
font-family: inherit;
font-size: 24px;
height: 65px;

}
.calc-button:last-child{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #fff;
    background: #d72880;
    
}

.calc-button:last-child:hover{
    background: #bb2c5c;
    color: fff;

}

.calc-button:last-child:active{
    background: #d72880;
}

.calc-button:hover{
    background: inherit;
    color: white;
    cursor: pointer;
}

.calc-button:active{
    background: #d72880;
}


.double{
    flex-basis: 47%;
}

.triple{
    flex-basis: 73%;
}

.calc-buttons .calc-button, .calculator-header h1, .ModalCloseSpan{
    position: relative;
    z-index: 1; /* Above the particles */
    pointer-events: none;
}
.calc-buttons .calc-button, .calculator-header h1, .ModalCloseSpan{
pointer-events: auto;
}

.ModalCloseSpan {
    color: #bbb;
    float: right;
    font-size: 28px;
    font-weight: bold;
    /* top corner */
    position: absolute;
    right: 5%;
    top: 1%;
  }
  
  .ModalCloseSpan:hover,
  .ModalCloseSpan:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  

  .calculatorModal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    /* Dont allow button under modal to be pressed */
    pointer-events: none;
    
    

}

@media (max-height: 900px) {
    .calculator-header{
        top: 30%;
    }
}

@media (max-height: 800px) {
        .calculator-header{
            top: 40%;
        }
}

@media (max-height: 700px) {
        .calculator-header{
            top: 55%;
        }
}

@media (max-height: 600px) {
        .calculator-header{
            top: 65%;
        }
}

@media (max-height: 500px) {
        .calculator-header{
            top: 75%;
        }
}

@media (max-width: 1500px) {

    .calculator-modal-content {
      width: 30%;
      left: 35%;
    }
  }
  
  @media (max-width: 1200px) {
  
    .calculator-modal-content {
      width: 35%;
      left: 35%;
    }

    .wrapper{
        flex-basis: 300px;
        height: 500px;
        width: 300px;
    }

    .screen{
        font-size: 20px;
    }
  }
  
  
  @media (max-width: 868px) {
  
    .calculator-modal-content{
      width: 40%;
      left: 30%;
    }

    .wrapper{
        flex-basis: 300px;
        height: 500px;
        width: 300px;
    }

    .screen{
        font-size: 20px;
    }
  }
  
  @media (max-width: 768px) {
  
    .calculator-modal-content {
      width: 50%;
      left: 20%;
    }

    .wrapper{
        flex-basis: 300px;
        height: 500px;
        width: 300px;
    }

    .screen{
        font-size: 20px;
    }

    
  }
  
  @media (max-width: 576px) {
  
    .calculator-modal-content {
      width: 80%;
      left: 10%;
    }
    .wrapper{
        flex-basis: 300px;
        height: 500px;
        width: 300px;
    }

    .screen{
        font-size: 20px;
    }
  }